.placowka-list-item-container {
  margin: 20px 0;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

  .placowka-list-item-table {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(6, 1fr);
    gap: 0 20px;
    width: 100%;

    justify-items: start; // wyrównanie w poziomie do lewej
    align-items: start;
    .labels {
      display: contents; // żeby grid działał bez dodatkowego wrappera
      span {
        font-weight: 600;
        font-size: 14px;
        color: #333;
      }
    }

    .values {
      display: contents;
      span {
        color: #555;
        font-size: 14px;
        word-break: break-word;
      }
    }
  }
}
