.place-list-item-table {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(6, 1fr);
  gap: 0 20px;
  width: 100%;

  justify-items: start;
  align-items: start;
  .labels {
    display: contents;
    span {
      font-weight: 600;
      font-size: 14px;
      color: #333;
    }
  }

  .values {
    display: contents;
    span {
      color: #555;
      font-size: 14px;
      word-break: break-word;
    }
  }
}
