.skeleton-container {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .skeleton-bar {
    width: 100%;
    background: #69696939;
    position: relative;
    overflow: hidden;
    border-radius: 8px;

    background: linear-gradient(
      90deg,
      #fff3e05f 0%,
      rgba(175, 165, 150, 0.507) 50%,
      #fff3e05f 100%
    );
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
  }
}

@keyframes loading {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
