#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: rgb(255, 243, 243);
}

.app {
  display: flex;
  justify-content: center;
  min-height: 80vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  color: rgb(46, 46, 46) !important;
}
